html {
    background: #e6e9e9;
    background-size: 850px 900px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: AppleFont;
    src: url(AppleFont.ttf);
}

img {
    width: 250px;
    height: 250px;
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 20px;
    top: 0; bottom 1; left: 0; right:0;
    
     -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
}

h1 {
    font-family: AppleFont;
    font-size: 150%;
    margin-top: 300px;
    text-align: center;
    
     -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
}

p {
    font-family: AppleFont;
    text-align: center;
    font-size: 120%;
     -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
    
}

#CC {
    font-family: AppleFont;
    text-align: left;
    font-size: 100%;
    margin-top: 100px;
    position: absolute;
    margin-left: 200px;
     -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
}

#CC_pic {
    margin-left: 1045px;
    margin-top: 450px;
    width: 210px;
    height: 400px;
    -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
    box-shadow: 0px 0px 10px;
}

#AppStore {
    margin-top: 500px;
    margin-left: 300px;
    margin-right: 80px;
    font-size: 105%;
    font-family: AppleFont;
    text-align: right;
     
    -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
}

#AppStore_PIC {
    margin-top: 735px;
    margin-right: 900px;
    margin-left: 210px;
    height: 353px;
    width: 500px;
    -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s;
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
    box-shadow: 0px 0px 10px;
}

#NewIcons {
    margin-top: 160px;
    margin-left: 200px;
    text-align: left;
    font-size: 105%;
    -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s;
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;   
}

#ios11icons { 
    margin-top: 1150px;
    margin-left: 855px;
    height: 40%;
    width: 30%;
    -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s;
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
    box-shadow: 0px 0px 10px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.vertical-menu {
    width: 200px;
    margin-top: 15px;
    position: fixed;
    bottom: 450px;
    left: 0px;
    -webkit-animation: fadein 5s; 
       -moz-animation: fadein 5s; 
        -ms-animation: fadein 5s; 
         -o-animation: fadein 5s; 
            animation: fadein 5s;
}

.vertical-menu a {
    background-color: #e6e9e9; 
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
    font-family: AppleFont;
}

.vertical-menu a:hover {
    background-color: rgba(0,102,102,1); 
    color: aliceblue;
}

.vertical-menu a.active {
    background-color: rgba(255, 204, 153, 1);
    color: white;
}